#app {
    width: 100%;
    margin: 0;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}

body {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%; 
}

ul {
    padding: 0 30px 30px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    list-style: none;
}

li.item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li.item {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.2);
    border-radius: 40px;
    padding: 28px;
    cursor: pointer;
}

li.item p {
    text-align: center;
    text-decoration: none;
}

li.item:hover {
    box-shadow: 0 0 60px 0 rgba(0,0,0,0.2);
    background-color: #ff4da6;
}

li.item:hover p {
    color: white;
}

li.item header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.item header img {
    width: 240px;
    height: 200px;
}

li.item header img:hover {
    width: 220px;
    height: 180px;
}

li.item p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0;
    padding-top: 25px;
}

#contato {
    margin-bottom: 60px;
    padding-bottom: 30px;
}

li.item a:visited p {
    text-decoration: none;
}

.index {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ff4da6;
}

.index .cima{
    font-weight: bold;
    padding: 16px 40px 16px 40px;
    font-size: 20px;
    text-decoration: none;
}

.index a.cima p {
    margin: 0;
}

.index a:visited {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.index a.cima:hover{
    background-color: white;
}

.index a.cima:hover p {
    color: #ff4da6;
}

.title {
    color:#ff4da6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 0px 0 0 30px;
    text-align: center;
}

.divForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divForm a {
    font-size: 55px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.divForm a:visited {
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 30px;
    margin-bottom: 30px;
}

.form input {
    width: 400px;
    height: 30px;
    margin: 0 0 20px 0;
    border-radius: 4px;
}

.form input:hover {
    width: 450px;
}

.form input[type=submit] {
    width: 200px;
    text-align:center;
}

::-webkit-input-placeholder  { 
    padding-left: 10px;
}

.content {
    border-radius: 10px;
    min-height: 100%;
    margin: 0 auto -150px;
    background-color: white;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 99%;
    /* line-height: 150px; */
    padding: 0 20px;
    bottom: 0;
    background-color: white;
}

footer .sentence {
    padding-top: 50px;
}

footer img {
    width: 75px;
    height: 75px;
    border-radius: 20px;
}

footer .myimage {
    width: 200px;
    height: 200px;
}

footer .textosobre {
    width: 700px;
    height: 150px;
}

footer .about {
    margin: 30px 0;
}

footer .about img{
    padding: 0px 20px 0px 20px;
}

@media (max-width:1200px){
    ul {
        grid-template-columns: 1fr 1fr;
    }

    footer .textosobre {
        display: none;
    }
}

@media (max-width:800px) {
    ul {
        grid-template-columns: 1fr;
    }

    footer img {
        width: 40px;
        height: 40px;
    }
}